svg {
    z-index: 3;
    position: absolute;
    cursor: pointer;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.subcontainer {
    height: 60vh;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.animate-circle {
    animation: animatecircle 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes animatecircle {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(1000px);
    }
}

h2 {
    position: absolute;
    left: 50%;
    top: 300px;
    color: #FF611E;
    font-family: 'Amatic SC', cursive;
    font-size: 96px;
    text-align: center;
    font-weight: bold;
    transform: translateX(-50%);
}